<ion-side-menus enable-menu-with-back-views="true" title="hello">

    <!-- this is the main menu -->
    <ion-side-menu-content edge-drag-threshold="true" drag-content="true">
        <ion-nav-bar id="navigationBar" class="bar-dark" >


            <!-- Notification Section -->
            <ion-nav-buttons side="left">

                <div class="bar row">
                    <button class="button icon-center col col-10"  >
                        icon
                    </button>
                    <button class="button icon-center  col col-80"  >
                        name/notification
                    </button>
                    <!--
                   --><button menu-toggle="right" class="button icon-center col col-10" >
                    menu
                </button>
                </div>

            </ion-nav-buttons>


        </ion-nav-bar>

        <ion-nav-view name="menuContent" ></ion-nav-view>
    </ion-side-menu-content>

    <!-- this is menu to the right -->
    <ion-side-menu side="right"  menu-close>
        <ion-header-bar class="bar-assertive">
            <h1 class="title">Right Menu</h1>
        </ion-header-bar>
        <ion-content menu-close>
            <ul class="list"e>
                <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
                <a href="#/main/home" class="item" menu-close> Home</a>

            </ul>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>