<ion-side-menus enable-menu-with-back-views="false" >

    <!-- this is the main menu -->
    <ion-side-menu-content edge-drag-threshold="true" >
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <!-- this is menu to the right -->
    <ion-side-menu side="right">
        <ion-header-bar class="bar-assertive">
            <h1 class="title">Right Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ul class="list">
                <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
                <a href="#/main/home" class="item" menu-close> Home</a>
                <a href="#/main/check-in" class="item" menu-close>Check-in</a>
                <a href="#/main/attendees" class="item" menu-close>Attendees</a>
            </ul>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>