<ion-view>

    <ion-tabs class="tabs-striped tabs-top tabs-icon-only has-header" ng-controller="tabsCtrl">

        <ion-tab title="Thread" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/main/home/threadtab">
            <ion-nav-view name="thread-tab" class="has-subheader" ></ion-nav-view>
        </ion-tab>

        <ion-tab title="Chat" icon-on="ion-edit" icon-off="ion-edit" href="#/main/home/chattab">
            <ion-nav-view name="chat-tab"  class="has-subheader"></ion-nav-view>
        </ion-tab>

        <ion-tab title="PM" icon-on="ion-paper-airplane" icon-off="ion-paper-airplane" href="#/main/home/pmtab">
            <ion-nav-view name="pm-tab"  class="has-subheader"></ion-nav-view>
        </ion-tab>
    </ion-tabs>



</ion-view>
