<ion-view  on-drag-right="selectTabWithIndex(1)">
    <div class="bar bar-header item-input-inset ">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="numbas, farris is my waifu">
        </label>
        <!-- do we need the button
        <button class="button button-clear">
            Post
        </button>
        -->
        <button class="button">Left Button</button>

    </div>
</ion-view>
