<ion-view  on-swipe-left="selectTabWithIndex(1)" on-swipe-right="selectTabWithIndex(2)">
    <div class="bar bar-header item-input-inset ">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="CAN YOU READ THIS NUMBAS">
        </label>
        <!-- do we need the button
        <button class="button button-clear">
            Post
        </button>
        -->
        <button class="button">Left Button</button>

    </div>
</ion-view>
